// Specific CSS for your home-page
.home-banner {
  background-image: url('https://s3.eu-central-1.amazonaws.com/media.quitoque.fr/blog_w600_h400/blog/2018/07/5-astuces-pro-r%C3%A9ussir-cocktails-perfection.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
